flask
python-dotenv
psycopg2-binary

py -m flask run --host=0.0.0.0 

-- Sources
https://www.youtube.com/watch?v=DlNIXC9SaF4
https://www.youtube.com/watch?v=12lWNMNCGtY

-- Design
https://www.core77.com/posts/133526/A-Visual-Archive-of-Audio-Cassette-Tape-Designs
