Code to auto pickup changes to your code on your live site
py -m flask --debug run --host=0.0.0.0

For all flask libraries
pip install -U Flask-WTF

psycop to connect to database
pip install psycopg2-binary

For env files to run off local database
pip install python-dotenv

-- Sources
https://www.youtube.com/watch?v=DlNIXC9SaF4
https://www.youtube.com/watch?v=12lWNMNCGtY

-- Design
https://www.core77.com/posts/133526/A-Visual-Archive-of-Audio-Cassette-Tape-Designs
