{% extends 'layout.html' %}

{% block content %}
<h2>{{username}}</h2>

<h2>Playlists</h2>
<table>
	<thead>
		<tr>
			<th>ID</th>
			<th>Name</th>
			<th>Description</th>
			<th>Tracks</th>
			<th>Created</th>
		</tr>
	</thead>
	<tbody>
		{% for row in playlists %}
		<tr>
			<td>{{ row[0] }}</td>
			<td><a href="/playlist/{{row[0]}}">{{ row[1] }}</a></td>
			<td>{{ row[2] }}</td>
			<td>{{ row[-1] }}</td>
			<td>{{ row[3].strftime('%Y-%m-%d')}}</td>
		</tr>
		{% endfor %}
	</tbody>
</table>
{%endblock%}